# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
*.env

# Virtual environment
venv/
env/

# Credential files
credentials/
*.json

# VSCode / IDE settings
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Token file jika disimpan lokal
config.py